/* 
8-Your #image should use max-width and height properties to resize responsively, relative to the width of its parent element, without exceeding its original size
9-Your img element should be centered within its parent element 
*/

#image {
      display: block;
    max-width: 100%;
    height: auto;
}
